/*global styles*/

body {
    background-color: rgb(17, 11, 54);
    color: rgb(211, 215, 221);
    align-content: center;
    height: 100vh;
    text-align: center;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.3em;
    letter-spacing: 0.3em;
    margin-top: 2em;
    margin-bottom: 2em;
}

h4 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

p {
    line-height: 1.3em;
    font-size: 1.2em;
}

/*avigation styles*/

.nav-box {
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background-color: rgb(17, 11, 54);
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.nav-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

.nav-box li {
    display: block;
    float: left;
    text-align: center;
    padding: 2em;
    text-decoration: none;
}



.nav-box a:link {
    color: white;
    text-decoration: none;
}

.nav-box a:visited {
    color: white;
    text-decoration: none;
}

.nav-box a:after {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color:rgb(211, 215, 221);
}

.nav-box a:hover {
    color: rgb(197, 209, 240);
}




/*banner styles*/

.title {
    padding-top: 5em;
    padding-bottom: 0em;
    letter-spacing: 0.3em;
    font-size: 2em;
    font-family: 'PT Sans', sans-serif;
}

.sub-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
}

.section {
    background-color: rgb(17, 11, 54);
    height: 100vh;
    border: 1px solid white;
}


/*about me section*/

.aboutme {
   background-color: #E6E6FF;
   padding: 3em 6em;
   color: rgb(17, 11, 54);
} 

.flex-container {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item {
    border: 1px solid black;
    padding: 2.5em;
    margin: 1em 2.5em;
    font-size: 1.8em;
    background-color: rgb(197, 209, 240);
    transition-property: background-color color;
    transition-timing-function: ease-in;
    transition-duration: 0.75s;
}

.flex-item:hover {
    background-color: rgb(17, 11, 54);
    color:rgb(211, 215, 221);
    cursor: pointer; 
}

.bio {
    border: 1px solid black;
    padding: 1em;
}

/*projects section*/

.project-section {
    background-color:rgb(197, 209, 240);
    color: black;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-right: 15%;
    margin-left: 15%;
}

.projblock {
    border: 1px solid black;
    height: 15em;
    width: 15em;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project {
    display: block;
    opacity: 0;
    text-align: center;
    width: 100%;
}


.projblock img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-active {
    top: 40%;
    position: absolute;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    opacity: 1;
    height: fit-content;
    width: fit-content;
    transition-duration: 1s;
    
}

.image-active {
   opacity: 0.3; 
   object-fit: cover;
   transition-duration: 1s;
}

.project-after {
    opacity: 0;
}

.image-after {
    opacity: 1;
    transition-duration: 1s;
    object-fit: cover;
}

/*contact page*/

.contact-description {
    margin-bottom: 2.2em;
}
.form h3 {
    margin-bottom: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

#name {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
#email {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}
#message {
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    height: 15em;
}

.submission {
    margin-top: 2em;
}

.details h4 {
    font-size: 1.7em;
    padding: 1em;
    margin: 1em;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#thankYou {
    display: none;
    padding: 1.5em;
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(197, 209, 240);
    border-radius: 20%;
}


/*buttons*/

.button {
    border: 1px solid rgb(211, 215, 221);
    background-color: rgb(17, 11, 54);
    color: rgb(211, 215, 221);
    padding: 1.5em;
    margin-top: 4em;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1em;
    text-align: center;
}

.button {
    display: inline-block;
    position: relative;
}


.button a:before {
  color:rgb(211, 215, 221);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.button a:visited {
    color:rgb(211, 215, 221);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.button a:hover {
    color: rgb(17, 11, 54);
    background-color: rgb(197, 209, 240);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.button .hover-icon {
    opacity: 0;
}

.button:hover .hover-icon{
    opacity: 1;
    padding-left: 1em;
    font-size: 1.5em;
}


.button:hover {
    padding-right: 1.8em;
    padding-left: 1em;
    background-color: rgb(197, 209, 240);
    color: rgb(17, 11, 54);
}

.button:hover:after {
    opacity: 1;
    right: 10px;
}

