/*global styles*/

body {
    background-color: rgb(17, 11, 54);
    color: rgb(211, 215, 221);
    align-content: center;
    height: 100vh;
    text-align: center;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    font-size: 2.3em;
    letter-spacing: 0.3em;
}

h4 {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    letter-spacing: 0.1em;
}

p {
    line-height: 1.3em;
    font-size: 1.2em;
}

/*avigation styles*/

.nav-box {
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    background-color: rgb(17, 11, 54);
    z-index: 1000;
    margin: 0;
    padding: 0;
}

.nav-box ul {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

.nav-box li {
    display: block;
    float: left;
    text-align: center;
    padding: 2em;
}

/*banner styles*/

.title {
    padding-top: 5em;
    padding-bottom: 0em;
    letter-spacing: 0.3em;
    font-size: 2em;
    font-family: 'PT Sans', sans-serif;
}

.sub-title {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
}

.section {
    background-color: rgb(17, 11, 54);
    height: 100vh;
    border: 1px solid white;
}


/*section 1*/

.aboutme {
   background-color: rosybrown;
   padding: 3em 6em;
} 

.flex-container {
    display: flex;
    border: 1px solid black;
    flex-direction: row;
    justify-content: space-around;
}

.flex-item {
    border: 1px solid black;
    padding: 2.5em;
    margin: 1em 2.5em;
    font-size: 1.8em;
}

.bio {
    border: 1px solid black;
    padding: 1em;
}

/*section 2*/

.projects-container {
    display: flex;
    /*border: 1px solid white;*/
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    margin-right: 15%;
    margin-left: 15%;
}

.project-item {
    border: 1px solid white;
    height: 15em;
    width: 15em;
}


/*buttons*/

.button {
    border: 1px solid rgb(211, 215, 221);
    background-color: rgb(17, 11, 54);
    color: rgb(211, 215, 221);
    padding: 1.5em;
    margin-top: 4em;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1em;
}

.button {
    display: inline-block;
    position: relative;
}


.button:after {
    background-color: rgb(204, 108, 108);
    content: ">>";
    position: absolute;
    opacity: 0;
    top: auto;
    right: -1.5em;
    transition: 0.5s;
}

.button:hover {
    padding-right: 2.3em;
    padding-left: 1em;
    background-color: rgb(204, 108, 108);
}

.button:hover:after {
    opacity: 1;
    right: 10px;
}

